body{
    background-color: bisque;
}

#empanadas{
    text-align: center;
    color: brown;
}

#pino{
    text-align: center;
    color: brown;
}

.div{
    max-width: max-content;
    height: 100px;
    margin-top: 50px;
    align-content: center;
}